@import './variables.scss';

@mixin orizontalMenu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin container {
    margin: 0 auto;
    width: 80%;
}

@mixin btn-primary {
    padding: 15px;
    text-transform: uppercase;
    color: #fff;
    background-color: $primary-color;
}